{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}

<section class="section">
    <div class="row">
        <div class="col l10 offset-l1">
            <div class="card"h>
                <div class="card-content">
                    <span class="card-title">Where do you teach?</span>
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <div class="input-field">
                            {{ form.school_choice(class="browser-default") }}
                        </div>
                        <div class="input-field right-align">
                            {{ form.submit(class="btn-flat purple accent-4 white-text")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}
