{% extends 'base_form.html' %}

{% block title %}Login{% endblock title %}

{% block body %}

<div class="row">
    <div class="col l6 l-side">
        <div class="section">
            <div class="container center-align white-text">
                <h1 class="brand-logo">DoUKnw</h1>
                <p>Learn more. Read the <a href="{{ url_for('pages.docs') }}" class="btn-flat btn-small white purple-text">docs</a></p>
            </div>
        </div>
    </div>
    <div class="col l6 r-side">
        <div class="section">
            <div class="container">
                <p class="center-align">

                <!-- Flash messages -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p class="center-align"><i class="tiny material-icons">done</i> {{ message }}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}       
                <!-- End flash messages -->
                
                <i class="material-icons large purple-text center-align">face</i>
                </p>
                <h4 class="purple-text">Hi</h4>
                <form action="" method="post">
                    {{ form.csrf_token }}
                    <div class="input-field">
                        {{ form.email }}
                        {{ form.email.label() }}
                    </div>
                    <div class="input-field">
                        {{ form.password }}
                        {{ form.password.label() }}
                    </div>
                    <div class="input-field right-align">
                        {{ form.submit(class="btn-flat purple accent-4 white-text")}}
                    </div>
                    <p>New here? Register here as <a href="{{ url_for('users.student_register') }}" class="purple-text">student</a>
                    or <a href="{{ url_for('users.educator_register') }}" class="purple-text">educator</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
