{% extends 'base_form.html' %}

{% block title %}Register as student{% endblock title %}

{% block body %}

<div class="row">
    <div class="col l6 l-side">
        <div class="section">
            <div class="container center-align white-text">
                <h1 class="brand-logo">DoUKnw</h1>
                <p>Learn more. Read the <a href="{{ url_for('pages.docs') }}" class="btn-flat btn-small white purple-text">docs</a></p>
            </div>
        </div>
    </div>
    <div class="col l6 m12">
        <div class="section">
            <div class="container">
                <h4 class="purple-text">Student registration</h4>
                Register as educator <a href="{{ url_for('users.educator_register') }}" class="purple-text">here</a></p>
                <form action="" method="post">
                    {{ form.csrf_token }}

                    <div class="input-field">
                        {{ form.firstname }}
                        {{ form.firstname.label() }}
                    </div>
                    <div class="input-field">
                        {{ form.lastname}}
                        {{ form.lastname.label() }}
                    </div>
                    <div class="input-field">
                        {{ form.email }}
                        {{ form.email.label() }}
                    </div>
                    <div class="input-field">
                        {{ form.password1 }}
                        {{ form.password1.label() }}
                    </div>
                    <div class="input-field">
                        {{ form.password2 }}
                        {{ form.password2.label() }}
                    </div>
                    <div class="input-field right-align">
                        {{ form.submit(class="btn-flat purple accent-4 white-text right-align") }}
                    </div>
                    <p>Already an account? Login <a href="{{ url_for('users.login') }}" class="purple-text">here</a>.</p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
