{% extends 'base.html' %}

{% block title %}Docs{% endblock title %}

{% include 'includes/nav.html' %}

{% block body %}

<section class="section">
    <h5>Why DoUKnw</h5>
    <p>
    DoUKnw - pronounced as "Do You Know" - is web application build with flask to solve a problem that we as undergrate students experienced.
    The problem being, not having a centralized system for educators testing their students on the knowledge that they should gain from their course
    curriculum.
    </p>
    <p>
    A quiz is a simple way to test if students have problems with certain topics during their academic career. Students also should be able to look back on their quizzes to have an idea on how they are doing.
    </p>
</section>

{% endblock body %}
