{% extends 'base.html' %}

{% block title %}Docs{% endblock title %}

{% include 'includes/nav.html' %}

{% block body %}

<section class="section">
    <div class="row">
        <div class="col l3">
            <ul class="collection">
                <li class="collection-item"><a href="#douknow" class="purple-text">Why DoUKnw</a></li>
                <li class="collection-item"><a href="#getting-started" class="purple-text">Getting started</a></li>
            </ul>
        </div>
        <div class="col l9">
            <h5 id="douknow" class="purple-text">Why DoUKnw</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos natus, reiciendis, sapiente doloribus, veritatis possimus totam cum sit minus mollitia autem dolorum adipisci laboriosam reprehenderit quo ab nulla officiis. Voluptates!</p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quod sapiente, natus commodi cupiditate exercitationem eius mollitia maiores ea dolorum eaque recusandae, id nesciunt cumque laboriosam accusamus corrupti facere impedit!
            <p>
            </p>
            <h5 id="getting-started" class="purple-text">Getting started</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur nihil beatae voluptates sequi obcaecati tenetur, ipsam quisquam aliquid? Ad dolorem quibusdam quos velit aperiam necessitatibus, fugit magni ea natus nam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi est dicta consectetur veritatis hic qui odit rem perferendis atque? Incidunt sapiente fugit facere optio molestias eius quos doloribus harum perferendis.</p>

        </div>
    </div>
    </section>

{% endblock body %}
