{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% include 'includes/nav.html' %}

{% block body %}

<div class="section">
    
    <div class="row"> 
        {% if current_user.is_educator %}
        <!-- class  -->
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title purple-text">Classes</span>
                    {% if current_user.class_code %}

                    <table>
                        <tbody>
                        {% for class, enroll in class_list %}
                        <tr>
                            <td>{{ class.name }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %} 
                    <p>Wow, such empty</p>
                    {% endif %}
                </div>
                <div class="card-action purple accent-4">
                    <a href="{{ url_for('courses.class_list') }}" class="white-text">Class Management</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title purple-text">My Courses</span>
                    {% if course_list %}
                    
                    <table>
                        <tbody>
                        {% for course in course_list %}
                        <tr>
                            <td>{{ course.name|truncate(20) }}</td>
                            <td>{{ course.course_code }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                    <p>Nothing here yet</p>
                    {% endif %}
                </div>
                <div class="card-action purple accent-4">
                    <a href="{{ url_for('courses.course_list') }}" class="white-text">Course Management</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title purple-text">Upcoming tests</span>
                    {% if quiz_list %}
                    {% else %}
                    <p>Nothing here yet</p>
                    {% endif %}
                </div>
                <div class="card-action purple accent-4">
                    <a href="{{ url_for('quiz.quiz_list') }}" class="white-text">Quiz Management</a>
                </div>
            </div>
        </div>
        {% else %}

        <!-- Student cards -->
       
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title purple-text">My Classes</span>
                    {% if not current_user.class_code %}
                        Wow, such empty. Join a class to fix this.
                    {% else %}
                        <table class="responsive-table highlight">
                            <tbody>
                                {% for class, enroll in class_list %}
                                <tr>
                                    <td>{{ class.name }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="card-action purple accent-4 white-text right-align">
                    {% if not current_user.class_code %}
                    <a href="{{ url_for('courses.class_join') }}" class="btn-small waves-effect waves-dark white purple-text pulse">
                            <i class="material-icons left">notifications</i>Join class
                        </a>
                    {% else %}
                    <a href="{{ url_for('courses.class_list') }}" class="btn-small btn-flat white purple-text">Join class</a>
                    {% endif %}

                </div>
            </div>
        </div>

        <!--  -->
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title purple-text">Course Enrollments</span>
                    {% if not current_user.class_code %}
                        Join a class, to see the courses you are enrolled in. 
                    {% else %}
                        <table>
                            <tbody>    
                            {% for course, class, enroll in class_course_list %} 
                            <tr>
                                <td>{{ course.name }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
                <div class="card-action purple accent-4 white-text right-align">
                    <a href="" class="btn-flat btn-small white purple-text">Courses</a>
                </div>
            </div>
        </div>

        <!-- Calendar -->
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title purple-text">Upcoming Tests</span>
                    Quizzes will be displayed here.
                </div>
                <div class="card-action purple accent-4 white-text right-align">
                    <a href="" class="btn-flat btn-small white purple-text">Quiz</a>
                </div>
            </div>
        </div>
        {% endif %}
        
    </div>

</div>

{% endblock body %}
