{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% include 'includes/nav.html' %}

{% block body %}

<div class="section">

    <div class="row"> 
        {% if current_user.is_educator %}
        <!-- class  -->
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title">Classes</span>
                    {% if class_list %}

                    <table>
                        <tbody>
                        {% for class in class_list %}
                        <tr>
                            <td>{{ class.name }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %} 
                    <p>Wow, such empty</p>
                    {% endif %}
                </div>
                <div class="card-action purple accent-4">
                    <a href="{{ url_for('courses.class_list') }}" class="white-text">Class Management</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title">My Courses<br>
                        <small>@{{ current_user.school.name }}</small>
                    </span>
                    {% if course_list %}
                    
                    <table>
                        <tbody>
                        {% for course in course_list %}
                        <tr>
                            <td>{{ course.name|truncate(20) }}</td>
                            <td>{{ course.course_code }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                    <p>Nothing here yet</p>
                    {% endif %}
                </div>
                <div class="card-action purple accent-4">
                    <a href="{{ url_for('courses.course_list') }}" class="white-text">Course Management</a>
                </div>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title">Upcoming tests</span>
                    {% if quiz_list %}
                    {% else %}
                    <p>Nothing here yet</p>
                    {% endif %}
                </div>
                <div class="card-action purple accent-4">
                    <a href="{{ url_for('quiz.quiz_list') }}" class="white-text">Quiz Management</a>
                </div>
            </div>
        </div>
        {% else %}

        <!-- Student cards -->
       
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title">Class</span>
                    {% if not current_user.class_code_id %}
                        Wow, such empty. Join a class to fix this.
                    {% else %}
                    {% endif %}
                </div>
                <div class="card-action purple accent-4 white-text right-align">
                    {% if not current_user.class_code_id %}
                        <a href="" class="btn-small waves-effect waves-dark white purple-text pulse">
                            <i class="material-icons left">notifications</i>Join class
                        </a>
                    {% else %}
                    {% endif %}

                </div>
            </div>
        </div>

        <!--  -->
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title">Course Enrollments</span>
                    {% if not current_user.class_code_id %}
                        Join a class, to see the courses you are enrolled in. 
                    {% else %}
                
                    {% endif %}
                </div>
                <div class="card-action purple accent-4 white-text">
                    <a href=""></a>
                </div>
            </div>
        </div>

        <!-- Calendar -->
        <div class="col l4 s12">
            <div class="card">
                <div class="card-content card-content-height">
                    <span class="card-title">Upcoming Tests</span>
                    Quizzes will be displayed here.
                </div>
                <div class="card-action purple accent-4 white-text">
                    <a href=""></a>
                </div>
            </div>
        </div>
        {% endif %}

        <!--
        <div class="col l12 m12 s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">History</span>
                    
                </div>
                <div class="card-action">
                </div>
            </div>
        </div>
        
        <div class="col l12 s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Agenda</span>
                </div>
            </div>
        </div>
        -->
        
    </div>

</div>

{% endblock body %}
