html {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.8px;
    height: 100%;
}

/***
 * Login page style
 ***/

.l-side, .r-side {
    height: 100vh;
    width: 100%;
}

.l-side {
    background-color: #aa00ff;
}

.r-side {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

/***
 * Overwrite Materialize CSS
 ***/

.brand-logo {
    font-family: 'Caveat', cursive;
}

.card-content-height {
    height: 250px;
    overflow: hidden;
}

nav {
    /* Overwrite box-shadow to none */
    box-shadow: none;
}
