body {
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.8px;
}

.brand-logo {
    font-family: 'Caveat', cursive;
}

.card-content-height {
    height: 250px;
    overflow: hidden;
}
