body {
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.8px;
}

/***
 * Overwrite Materialize CSS
 ***/

.brand-logo {
    font-family: 'Caveat', cursive;
}

.card-content-height {
    height: 250px;
    overflow: hidden;
}

nav {
    /* Overwrite box-shadow to none */
    box-shadow: none;
}
