<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Oxanium&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <nav class="blue lighten-2">
        <div class="nav-wrapper container">
            <a href="{{ url_for('pages.index') }}" class="brand-logo">Quiz</a>
            <ul class="right hide-on-med-and-down">
                {% if call_or_get(current_user.is_authenticated) %}
                <li><a href="">{{ current_user.email }}</a></li>
                {% else %}
                <li><a href="">Docs</a></li>
                <li><a href="{{ url_for('users.student_register') }}">Students</a></li>
                <li><a href="{{ url_for('users.educator_register') }}">Educators</a></li>
                <li><a href="{{ url_for('users.login') }}">Login</a></li>

                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="container">
    {% block body %} 
    {% endblock body %}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
