{% extends 'base.html' %}

{% block title %}Class create{% endblock title %}

{% block body %}

<section class="section">
    <div class="row">
        <div class="col l12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Class Code</span>
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        <div class="input-field">
                            {{ form.class_code }}
                            {{ form.class_code.label() }}
                        </div>
                        <div class="input-field">
                        </div>
                        <div class="input-field">
                            {{ form.submit(class="btn light-blue darken-4") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
